*.pyc
.DS_Store
*.log
/*.pkl*
/__pycache__
__MACOSX/

.idea/
/*.csv

# python package
*.egg-info/
dist/
.pytest_cache/

config/*.custom.ini

.cache/
src/petal_tasks/local/

# sphinx
doc/_build/

cov_html/
.coverage

scripts/supervisord_local.conf
docker/get-pip.py
docker/Python-*.tgz
.vscode/
test_run*.py
venv/
.venv/

#giteye
/.project

#autoenv
.env
.env.leave
.autoenv
.autoenv.leave

#pyenv
.python-version

#vim
.ropeproject

#docker test
tmp/
test/samples/postgre/
test/.minio.sys/

local/
